extends ./layout/index

block contenido
  main.container.mt-5 
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="Torre Eiffel", class="img-fluid")
      .col-md-7
        h1= pagina
        blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec molestie ipsum. Fusce consequat vel nibh nec malesuada. Cras finibus odio suscipit, hendrerit arcu ut, suscipit nulla. Nunc lacinia quam eget nulla sollicitudin molestie. Fusce commodo massa ac leo molestie, eget vehicula lacus elementum. In efficitur diam sed dui viverra, eget varius nunc ornare. Suspendisse ac molestie nulla.

        p Etiam convallis tellus vestibulum lacinia pharetra. Vivamus vitae tellus a ex rutrum rhoncus eget et velit. Integer eget lorem et sem dignissim ullamcorper. Nam et finibus leo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Nullam et hendrerit lectus.

        p Nullam sit amet odio quis lorem fermentum scelerisque. Pellentesque suscipit augue a quam molestie rutrum. Duis faucibus arcu id neque vestibulum sodales. Nam id lobortis leo. Vivamus a tortor rutrum, scelerisque est in, condimentum mi. Suspendisse potenti. Nam tellus lectus, venenatis non scelerisque eget, interdum tristique magna.
  
  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad
          p Nullam sit amet odio quis lorem fermentum scelerisque. Pellentesque suscipit augue a quam molestie rutrum. Duis faucibus arcu id neque vestibulum sodales.

        .col-md-4
          img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
          h2.mb-4 Mejores destinos
          p Nullam sit amet odio quis lorem fermentum scelerisque. Pellentesque suscipit augue a quam molestie rutrum. Duis faucibus arcu id neque vestibulum sodales.

        .col-md-4
          img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
          h2.mb-4 Los mejores precios
          p Nullam sit amet odio quis lorem fermentum scelerisque. Pellentesque suscipit augue a quam molestie rutrum. Duis faucibus arcu id neque vestibulum sodales.